# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Celerybeat scheduler file:
celerybeat-schedule

#Virtualenv Directory
venv

#
.idea

*.py[cod]

# C extensions
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo


